{% extends "padre.html" %}

{% block title  %} Clínica Merlina,San Luis {% endblock %}

{% block cuerpo %}Nuestros Doctores</h2>
    <ul>
      <li><strong>Dra. Celeste  Bacchi</strong> – Medicina general y familiar</li>
      <li><strong>Dr. David Palermo</strong> – Especialista en cardiología</li>
      <li><strong>Dra. Olga Girardi</strong> – Pediatra</li>
      <li><strong>Dr. Victoria Palermo Bacchi </strong> – Diagnóstico por imágenes</li>
    </ul>{% endblock %}

    {% block cuerpo2 %}Estudios Médicos</h2>
    <p>Realizamos una amplia gama de estudios y diagnósticos, incluyendo:</p>
    <ul>
      <li>Colonoscopía y endoscopía</li>
      <li>Espirometría</li>
      <li>Electroencefalograma</li>
      <li>Tomografías</li>
      <li>Pruebas de esfuerzo</li>
    </ul> {% endblock %}

    {%block final %}Cuidado de los Pacientes</h2>
    <p>El cuidado de pacientes abarca una amplia gama de acciones y responsabilidades destinadas a atender las necesidades de salud y bienestar de una persona, ya sea en un entorno hospitalario, en el hogar, o en otros contextos de atención. Implica no solo la atención médica directa, sino también el apoyo en las actividades de la vida diaria, la gestión de medicamentos, la educación del paciente y la promoción de su autonomía. .</p>
  </section>{%endblock%}
